---
title: Impressum
---
{{#extend "layout" title="Main Page"}}
    {{#content "body"}}
        <div class="content">
            {{>main}}
            {{>youtube}}
            {{>footer}}
        </div>
    {{/content}}
{{/extend}}

